.app-layout__header,         // Main Zooniverse header
.app-layout__footer,         // Main Zooniverse footer
.project-page > header,      // Project header
a[href*="/talk/"],           // Any Talk links
a[href*="/talk/"] + button   // Final 'Next' button
  display: none !important

// Unwanted toolbar buttons under subject viewer are hidden in `subject-viewer.cjsx`

// Overlay to block interaction when in MTurk's Preview Mode
.previewmode_overlay
  height: 100%
  width: 100%
  z-index: 100
  position: absolute
  top: 0
  left: 0
